<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="content">
            <div class="btn-group" style="float:right; padding-right:20px;">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-desktop"></i>&nbsp; 收银工作台 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="/" ><i class="fa fa-tv"></i> 下单收银</a></li>
                    <li><a href="/web/newOrders/returnBond" ><i class="fa fa-gavel"></i> 退还压金</a></li>
                    <li><a href="/web/newOrders/receiveMoney" ><i class="fa fa-money"></i> 外卖收款</a></li>
                    <li><a href="javascript:;" ><i class="fa fa-random"></i> 收银换班</a></li>
                    <li><a href="/web/newOrders/list" ><i class="fa fa-list"></i> 订单列表</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/web/member/list" ><i class="fa fa-user-secret"></i> 会员列表</a></li>
                    <li><a href="/web/member/add" ><i class="fa fa-plus"></i> 新增会员</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/web/updatePwd" class=""><i class="fa fa-unlock-alt"></i> 修改密码</a></li>
                    <li><a href="/public/logout" class="logout-href"><i class="fa fa-close"></i> 退出登陆</a></li>
                </ul>
            </div>

            <ul class="opt-ul" th:if="${session.login_worker ne null}" style="float:right;">
                <li><a href="/" class="btn" type="button"><img th:src="${session.login_worker.headimgurl}" style="width:24px;border-radius:20px;"/> 收银员：<span class="cashier" th:text="${session.login_worker.name}"></span></a></li>
            </ul>
        </div>
    </body>
</html>
